*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  margin-top: 50px;
}
.container{

}
#header-site{
  position: relative;
}
.header{
  background-color: #2c2c2c;
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0; 
  transform: translate(-50% -50%);
  z-index: 250;
}
.header-inner{
   padding: 5px 15px 5px 5px;
}
.header-content{
  padding-left: 15px;
}
.input-box{
  display: flex;
  align-items: center;
}
.bx-search-alt-2{
  font-weight: normal;
  color: #fff;
  font-size: 20px;
  margin-right: 13px;
  align-items: center;
  padding-left: 10px;
}
.bx-bell{
  color: #fff;
  font-size: 18px;
  margin-right: 13px;
  align-items: center;
  font-weight: normal;
}
.sub-btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.bell-box{
  margin-right: 15px;
}
.input-header{
  font-size: 13px;
  outline: none;
  border: none;  
  background-color: transparent;
}
.input-box{
  border: none;
  outline: none;
  width: 340px;
  height: 40px;
  color: #dbc3c3;
  align-items: center;
  background-color: transparent;
  border-radius:5px 
}
.input-box:hover{
  background-color: #9b8f8f63;
  transition: all 0.4 ease;
}

.person-gmail{
  background-color: #be78b9;
  border-radius: 50%;
  padding: 4px 8px;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  align-items: center;
  display: block;
}

.input-select{
  margin-left: 20px;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
  width: 15px;
}
.input-service{
  color: #000;
  width: 70px;
}
.name-box{
  align-items: center;
}
.bxl-figma{
  align-items: center;
  color: #fff;
  margin-right: px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.name{
  font-size: 12px;
  color: #fff;
}
.gmail{
  color: #8a8585;
  font-size: 9px;
}
.header-upgrade{
  padding-left: 3px;
  padding-top: 6px;
  height: 100%;
  border-right: 1px solid #3e3e3e;
}
.style-none{
  list-style-type: none;
}



.upgrade{
  border-right: 1px solid #0000001a;
  padding: 3px 8px;
}
.icon{
  font-weight: normal;
  display: block;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  color: #474242;
}
.upgrade-text{
  font-weight: normal;
  font-size: 11px;
  color: #333;
  line-height: 18px;
}
.bx-right-arrow-alt{
  font-size: 14px;
  width: 14px;
  height: 10px;
}
.beta{
  display: block;
  margin: 0 auto;
  align-items: center;
  padding: 2px 4px;
  font-size: 9px;
  color: #fff;
  background-color: #4db34df5;
  border-radius: 3px;
}
.up-icon{
  height: 36px;
}
.drafts{
  height: 40px;
  border-bottom: 1px solid #0000001a;
}
.community{
  height: 55px;
  border-bottom: 1px solid #0000001a;
}
.comun-text{
  margin-right: 10px;
}
.bx-up-arrow-alt{
  border: 1px solid #474242;
  border-radius: 50%;
  align-items: center;
}
.unlim-text{
  width: 150px;
}
.unlim-box{
  padding-top: 20px;
  margin-bottom: 10px;
}
.grade-text{
  align-items: center;
  padding: 6px 11px;
  border: 1px solid #474242;
  border-radius: 5px;
  width: 70px;
  margin-left: 31px;
}
.grade-box{
  height: 120px;
  border-bottom: 1px solid #0000001a;
}
.bx-star{
  opacity: 0.4;
}
.star-text{
  width: 150px;
  opacity: 0.4;
}
.star-box{
  height: 70px;
  border-bottom: 1px solid #0000001a;
}
.icon-plus{
  opacity: 1;
  color: #000;
  font-size: 20px;
}
.plus-box{
  height: 55px;
  padding-left: 31px;
  align-items: center;
}














.hero-fix-box{
  width: 100%;
  left: 0;
  border-bottom: 1px solid #0000001a;
}
.hero-title{
  padding: 15px 0;
  font-weight: normal;
  font-size: 13px;
}
.hero-fix-list{
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}
.hero-fix-item{
  position: relative;
  border-radius: 5px;
  display: flex;
  width: 310px;
  padding: 15px 20px;
  border: 1px solid #0000001a;
}
#hero-section{
  /* margin-top: 100px; */
  position: absolute; 
  top: 20%;
  left: 0;
}
.upgrade{
  margin-top: 60px;
  position: fixed;
  width: 20%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
.hero-inner{
  background-color: #fff;
  position: fixed;
  width: 80%;
  height: 150px;
  top: 80px;
  left: 19%;
  transform: translate(0, -20%);
  z-index: 400;
}
#content{
  width: 1025px;
  position: absolute;
  top: 225px;
  left: 241px;
  transform: translate(-50, 0);
  z-index: -100;
  overflow: hidden;
}
.content-box{
  border-radius:10px;
  padding: 20px 24px;
  background-color: #f0f0f0;
  margin-bottom: 20px;
}
.design-list-box{
  padding-top: 5px;
}
.content-img{
  border-radius: 10px;
  margin-bottom: 10px;
}
.may-img{
  margin-right: 20px;
}
.hero-list-title{
  font-weight: bold;
  align-items: center;
  color: #333;
  font-size: 13px;
  margin-bottom: 7px;
  opacity: 0.9;
}
.design-text{
  color: #333;
  font-size: 10px;
  opacity: 0.7;
}
.bx-plus{
  position: absolute;
  right: 15px;
  padding-top: 13px;
  display: block;
  align-items: center;
  width: 25px;
  height: 20px;
  opacity: 0.5;
}
.explore{
  margin-right: 4px;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.801);
  margin-bottom: 7px;
}
.bx-chevron-down{
  align-items: center;
  color: #ccc;
}
.text-none{
  text-decoration: none;
}
.explore-box{
  padding: 10px 10px;
}
.link{
  color: #49a5f0;
  font-size: 13px;
  margin-right: 10px;
}
.bx-x{
  margin-left: 8px;
  border-left: 1px solid #2c28281a;
  font-weight: normal;
  font-size: 24px;
}
.see-btn{
  border: none;
  cursor: pointer;
}

.untitled-list{
  margin-bottom: 50px;
}

.untitled-item{
  border-radius: 10px;
  border: 1px solid #0000001a;
  margin-bottom: 40px;
  width: 310px;
}
.untit-box{
  padding: 10px 0;
  margin: 0 auto;
  background-color: #f0f0f0;
}
.untitle-item-box{
  margin-top: 18px;
  padding: 10px 22px;
}
.untitled-img{
  display: block;
  margin: 0 auto;
  align-items:center;
}
.untit-item-img{
  padding: 4px 0;
  display: block;
  margin-right: 20px;
}
.edit-text{
  color: rgb(182, 176, 176);
  font-size: 13px;
  opacity: 1; 
}
.untitle-text-box{
  margin-bottom: 10px;
}
.untitled-box{
  padding-top: 5px;
  margin-bottom: 15px;
}
.grid-btn{
  width: 24px;
  height: 24px;
  text-align: center;
  align-items: center;
  border: 1px solid #78b8e2;
  display: block;
  cursor: pointer;
  background-color: #fff;
  color: #78b8e2;
  margin-right: 4px;
  border-radius: 2px;
}
.menu-btn{
  width: 24px;
  height: 24px;
  text-align: center;
  align-items: center;
  border: 1px solid #e2d7d7;
  display: block;
  cursor: pointer;
  background-color: #fff;
  color: #8d8989; 
  border-radius: 2px;
}
.bx-question-mark{
  font-size: 20px;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.795);
  color: #fff;
  border-radius: 50%;
  position: fixed;
  bottom:20px;
  right: 5px;
}